[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
requests = "*"
attrs = "*"









[dev-packages]

ipython = "*"
neovim = "*"
"pep8" = "*"
"flake8" = "*"
pyflakes = "*"
isort = "*"